@media screen and (max-width: 800px) {

    body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    details {
        display: block;
    }
    summary {
        width: 100vw;
        height: 45vh;
        border-radius: 0 0 25px 25px;
        box-shadow: none;
    }
    summary #your-result {
        font-size: 1.25em;
        padding: 0%;
        margin: 5% 0 5%;
    }
    summary section {
        border-radius: 200px;
        padding: 0%;
    }
    summary section p {
        font-size: 1em;
    }
    summary #great {
        font-size: 1.1em;
        margin: 0% 10% 5% 10%;
        padding: 0%;
    }
    div {
        width: 100vw;
        border-radius: 0 0 25px 25px;
    }
    div #summary {
        font-size: larger;
    }
}
@media screen and (min-height: 800px) and (min-width: 1024px) {
    summary {
        width: 30vw;
    }
    summary #your-result {
        font-size: large;
    }
    summary section {
        border-radius: 200px;
    }
    summary section p {
        font-size: large;
    }
    summary #great {
        font-size: large;
    }
    div {
        width: 30vw;
    }
    div #summary {
        font-size: larger;
    }
}
@media screen and (max-height: 700px) {
    summary #your-result {
        font-size: small;
    }
    summary section {
        width: 19vh;
        height: 19vh;
    }
    summary section p {
        font-size: small;
    }
    summary #great {
        font-size: small;
    }
    div {
        height: 53vh;
    }
    div #summary {
        font-size: medium;
    }
}
@media screen and (max-height: 500px) and (max-width: 900px) and (orientation: landscape) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    details {
        display: contents;
    }
    summary {
        width: 25vw;
        height: 65vh;
        border-radius: 25px;
    }
    summary #summary {
        font-size: small;
    }
    summary section {
        width: 20vh;
        height: 20vh
    }
    summary section p {
        font-size: xx-small;
    }
    summary #great {
        font-size: 0.7em;
    }
    div {
        width: 25vw;
        height: 65vh;
    }
}